<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My List</title>
</head>

<body>
    <main>
        <div>
            <h1>{{todos_detail.name}}</h1>
            <p><a href="{% url 'todo_list_update' todos_detail.id %}">Edit</a></p>
            <p><a href="{% url 'todo_list_delete' todos_detail.id %}">Delete</a></p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tasks in todos_detail.items.all %}
                    <tr>
                        <td>{{tasks.task}}</td>
                        <td>{{tasks.due_date}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

</body>

</html>
